.searchResultListRoot {

}

.header {
  margin-bottom: 8px;
  padding: 4px 28px;
  background: var(--gray-100);
}

.headerTitle {
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-500);
}

.list {
 padding: 0 16px;
}

.notFound {
  padding: 40px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundTitle {
  color: var(--gray-700);
  font-weight: 500;
  opacity: 0.6;
}