.root {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.hover {
  &:hover:not(.active) {
    background: var(--gray-100);
  }
}

.active {
  background: rgba(var(--primary-color-rgb), 0.1);
}

.link {
  display: flex;
  align-items: center;
  padding: 12px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  min-width: 0;
  width: 100%;
}

.info {
  width: 100%;
  min-width: 0;
}

.title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(var(--black-rgb), 0.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateAndCount {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: right;
  //color: var(--gray-400);
  color: rgb(var(--black-rgb), 0.3);
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  margin-top: 3px;
  padding: 4px 6px;
  background: var(--primary-color);
  border-radius: 50px;
}

.countText {
  min-width: 6px;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  color: var(--white);
}
