.chatRoot {
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  background: var(--white);

  @media (max-width: 768px) {
    position: absolute;
    inset: 0;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--chat-background);
}
