.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  border-radius: 12px;

  &:disabled {
    opacity: 0.65;
  }
}

.btnIcon {
  padding: 0;
  width: 40px;
  height: 40px;
}


.primaryColor {
  --button-primary-color: var(--primary-color);
  --button-primary-color-rgb: var(--primary-color-rgb);
  --button-secondary-color: var(--white);
  --button-secondary-color-rgb: var(--white-rgb);
}


.defaultColor {
  --button-primary-color: var(--gray-500);
  --button-primary-color-rgb: var(--gray-500-rgb);
  --button-secondary-color: var(--white);
  --button-secondary-color-rgb: var(--white-rgb);
}


.text {
  color: var(--button-primary-color);

  &:hover {
    background: rgba(var(--button-primary-color-rgb), 0.1);
  }
}


.solid {
  background: var(--button-primary-color);
  color: var(--button-secondary-color);

  &:hover {
    background: rgba(var(--button-primary-color-rgb), 0.95);
  }
}


.roundShape {
  border-radius: 1000px;
}


.noneShape {
  border-radius: 1000px;
}