.item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.itemRed {
  color: var(--red);
  stroke: var(--red);
}

.itemIcon {
  margin-right: 12px;
}