.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px 8px 20px;
}

.title {
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  color: var(--gray-700);
}

.closeIcon {
  height: 24px;
  width: 24px;
}