.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px 8px 10px;

  @media (min-width: 460px) {
    padding-left: 20px;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.title {
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  color: var(--gray-700);
}

.buttonBack {
  @media (min-width: 460px) {
    display: none;
  }
}
.buttonClose {
  @media (max-width: 460px) {
    display: none;

  }
}

.closeIcon {
  height: 24px;
  width: 24px;
}