.headerRoot {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 24px 6px 8px;
  background: var(--white);
}

.buttonBack {
  @media (min-width: 768px) {
    display: none;
  }
}

.content {
  padding: 6px 16px 6px 8px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.info {
  margin-left: 16px;
}

.name {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-800);
}

.userStatus {
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-500);
}

.userStatus_active {
  color: var(--primary-color);
}

