.root {
  height: 100%;
  width: 320px;
  background: var(--white);
  border-left: 1px solid var(--gray-200);
}

.panel {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-200);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  padding: 0 16px;
}

.headerTitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--gray-800);
}



.buttonCloseIcon {
  width: 24px;
  height: 24px;
}

.info {
  padding: 0 16px;
}