.trigger {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 500px;
  pointer-events: none;
}

.btn {
  position: absolute;
  bottom: 20px;
  //left: calc(100% - 44px - 10px);
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  width: 44px;
  height: 44px;
  color: var(--gray-600);
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.notify {
  position: absolute;
  top: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 0 5px;
  background: var(--primary-color);
  font-size: 12px;
  line-height: 1;
  color: var(--white);
  border-radius: 100px;
}