.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 16px;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-500);
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 16px;
}


.item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  //color: var(--black);
}

.itemRed {
  color: var(--red);
  stroke: var(--red);
}

.itemIcon {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}



