.messageRoot {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  // padding-bottom: 12px;
  padding: 6px 0 6px;
}

.left {
  padding-right: 10%;
  align-items: flex-start;
}

.right {
  padding-left: 10%;
  align-items: flex-end;
}

.active {
  .message {
    border-radius: 12px 0 12px 12px;
    background: var(--primary-color);
    color: var(--white);
  }
}

.date {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-400);
}

.message {
  max-width: 500px;
  padding: 8px 16px;

  font-size: 14px;
  line-height: 20px;
  border-radius: 0 12px 12px 12px;
  background: var(--white);
  box-shadow: 2px 2px 12px rgba(var(--black-rgb), 0.05);
}
